/TPI/dobroETriploDeUmN/nbproject/private/
/TPI/dobroETriploDeUmN/build/
/TPI/nElevadoQuadrado/nbproject/private/
/TPI/nElevadoQuadrado/build/
/TPI/salarioBonusMoveis/nbproject/private/
/TPI/salarioBonusMoveis/build/
/TPI/valorPacelaAtraso/nbproject/private/
/TPI/valorPacelaAtraso/build/
/TPI/areaCircunferencia/nbproject/private/
/TPI/areaCircunferencia/build/
/TPI/valorTotalCompraProdutos/nbproject/private/
/TPI/valorTotalCompraProdutos/build/
/TPI/volumeCilindro/nbproject/private/
/TPI/compraProdutosSupermercado/nbproject/private/
/TPI/compraProdutosSupermercado/build/
/TPI/projetoOO/nbproject/private/
/TPI/projetoOO/build/